body {
    background-color: #f3e9f1;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
a {
    color: black;
}
a:hover {
    color: rgb(58, 58, 58);
}
.row {
    font-size: 20px;
}










/*                    DEBUT HEADER                     */
.navbar-brand {
    font-size: 20px !important;
}
.jumbotron {
    background: none;
    margin-top: 20px;
    margin-bottom: 0;
}
h1 {
    margin-bottom: 0;
}
/*                    FIN  HEADER                     */









/*              DEBUT CONTAINER PAGE INDEX              */
.produitsOrinoco.col-lg-4 {
    margin-top: 50px;
}
.produit.card {
    border-radius: 40px;
    box-shadow: 3px 2px 10px #e5e5e5;
}
div img.produit-image.card-img-top {
    border-radius: 40px 40px 0px 0px;
    object-fit: cover;
    height: 235px;
    width: 100%;
}
.produit-description.card-body {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
}
.produitsOrinoco.col-lg-4 a:hover {
    text-decoration: none !important;
}
/*              FIN CONTAINER PAGE INDEX              */









/*              DEBUT CONTAINER PAGE PRODUIT              */
.produitCard.row {
    justify-content: center;
    margin-top: 50px;
}
.produit-presentation {
    text-align: CENTER;
}
select#addColors {
    width: 30%;
    margin: 20px auto 0;
}
button#addPanier {
    margin-top: 50px;
}
/*              FIN CONTAINER PAGE PRODUIT               */









/*              DEBUT CONTAINER PAGE PANIER              */
legend {
    margin-bottom: 0;
}

div#produits {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.panierProduit {
    display: flex;
    justify-content: space-between;
}
.panierProduitPriceQty {
    display: flex;
}
.produitQuantity {
    margin-left: 30px;
}
div#total {
    margin-top: 20px;
}
fieldset.col-12.col-md-10.col-lg-8 {
    margin: 0 auto;
}
form#cordonnees {
    margin: 0 auto;
}
.buttonPanier {
    text-align: center;
    margin-top: 30px;
}
fieldset.form-group {
    margin-top: 50px;
}
legend {
    font-weight: bold;
    font-size: 28px;
}
input#confirmeCommande {
    text-transform: capitalize;
}
/*              FIN CONTAINER PAGE PANIER               */









/*            DEBUT CONTAINER PAGE COMMANDE               */
.detailsCommande {
    margin-top: 6w0px;
}
.detailCommande.commandeTotal {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
main#commandes {
    margin: 0 auto;
}
.commande {
    margin-top: 50px;
}
.commande h2 {
    text-align: center;
    margin-bottom: 0;
}
.detailsCommande.commandeP {
    margin-top: 40px;
}
.adresseCommande {
    margin-top: 40px;
}
.commandeP {
    font-weight: bold;
    margin-bottom: 0 !important;
}
/*              FIN CONTAINER PAGE COMMANDE              */









/*              DEBUT FOOTER          */
footer.container-fluid {
    margin-top: 50px;
}
/*               FIN FOOTER           */




